body {
    background-color: black;
}

.brand-logo {
    font-family: 'Secular One', sans-serif;
}

.card-content {
    font-family: 'Secular One', sans-serif;

}

.hide {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 50%

}